<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>

    <application
        android:name=".SimonApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- <activity android:name=".kotlin.KActOne"> -->
        <!-- <activity android:name=".refreshListview.RefreshListViewAct"> -->
        <!-- <activity android:name=".zhimaview.ZhimaAct"> -->
        <!-- <activity android:name=".kotlin.KActOne"/> -->
        <!--<activity android:name=".JSHtml.JSHtmlAct">-->
        <!-- <activity android:name=".kotlin.UIAct"> -->
        <!--<activity android:name=".progressbar.ProgressAct">-->
        <!--<activity android:name=".drawview.DrawAct">-->
            <!--<activity android:name=".rxjava.RxjavaAct">-->
            <!--<activity android:name=".appbarlayout.AppBarLayoutAct">-->
            <!--<activity android:name=".retrofitdemo.RetrofitAct">-->
            <!--<activity android:name=".okhttp.OkHttpAct">-->
            <!--<activity android:name=".JSHtml.JSAct">-->
            <!--<activity android:name=".uiview.UIViewTest">-->
            <activity android:name=".smalisign.SignChangeAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>